.main-screen {
	margin-top: -144px;
	&__wrap {
	}
}

.slider-main {
	&__card {
		position: relative;
	}

	&__wrap {
		position: relative;
		display: flex;
		align-items: center;
		padding-top: 214px;
		z-index: 2;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&::before {
			background: rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(4.5px);
			z-index: 2;
		}

		&::after {
			z-index: 1;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
		}
	}

	&__group {
		max-width: 560px;
		padding-bottom: 20px;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__btn {
		max-width: 280px;
	}

	&__image {
		align-self: flex-end;
		margin-right: -61px;
	}
}

.advantages {
	&__wrap {
		padding: 120px 0;
	}

	&__title {
		max-width: 830px;
		margin-bottom: 60px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 60px;
	}

	&__item {
	}
}

.item-advantages {
	&__icon {
		margin-bottom: 20px;
	}

	&__name {
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
	}

	&__text {
	}
}

.main-services {
	background: #8eaeba;
	&__wrap {
		padding: 120px 0;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;
		margin-bottom: 90px;
	}

	&__column {
	}

	&__title {
		color: #fff;
		margin-bottom: 45px;
	}

	&__btn {
		max-width: 220px;
	}

	&__text {
		color: #fff;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 60px;
		grid-auto-rows: 1fr;
	}

	&__item {
	}
}

.item-main-services {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px;
	background: #ffffff;
	box-shadow: 0px 9px 40px rgba(108, 130, 140, 0.57);
	border-radius: 10px;
	transition: transform 0.35s ease, opacity 0.5s ease, box-shadow 0.5s ease;
	&:hover {
		transform: translateY(5px);
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&__group {
		flex-grow: 1;
		margin-bottom: 90px;
	}

	&__icon {
		margin-bottom: 30px;
	}

	&__name {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
	}

	&__text {
	}

	&__arrow {
	}
}

.reviews {
	&__wrap {
		padding: 120px 0;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 60px;
		row-gap: 30px;
	}

	&__item {
	}
}

.item-reviews {
	display: flex;
	padding: 30px;
	background: #f5f5f5;
	border-radius: 10px;
	&__image {
		width: 120px;
		height: 120px;
		flex-shrink: 0;
		border-radius: 50%;
		margin-right: 20px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__group {
	}

	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
	}

	&__post {
		margin-bottom: 30px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #91abb8;
	}

	&__text {
	}
}

.slider-info {
	position: relative;

	overflow: hidden;
	background: #f5f5f5;
	&__wrap {
	}

	&__container {
	}
}

.info-slider {
	&__row {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__column {
		&:first-child {
			margin-right: 20px;
			padding: 100px 0;
			max-width: 640px;
		}
		&:last-child {
			align-self: flex-end;
		}
	}

	&__title {
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 90px;
		font-size: 24px;
		line-height: 130%;
	}

	&__btn {
		max-width: 280px;
	}

	&__image {
		margin-right: -75px;
	}
}

.blog {
	&__wrap {
		padding: 120px 0;
	}

	&__group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	&__title {
		margin-right: 20px;
	}

	&__btn {
		max-width: 280px;
		width: 100%;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 60px;
	}

	&__item {
	}
}

.card-blog {
	position: relative;
	transition: transform 0.35s ease;
	&:hover {
		transform: translateY(5px);
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__image {
		margin-bottom: 20px;
		border-radius: 10px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: #000000;
		margin-bottom: 10px;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
	}
}

.partners {
	background: #8eaeba;
	&__wrap {
		padding: 120px 0;
	}

	&__title {
		margin-bottom: 90px;
		color: #fff;
	}

	&__list {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: 80px;
		justify-items: center;
		align-items: center;
	}

	&__item {
	}
}

.addres {
	&.--gray {
		background: #f5f5f5;
	}
	&__wrap {
		padding: 120px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__column {
		&:first-child {
			max-width: 420px;
			margin-right: 150px;
		}
		&:nth-child(2) {
			margin-right: 110px;
		}
	}

	&__title {
		margin-bottom: 60px;
	}

	&__btn {
		width: 100%;
		max-width: 280px;
	}

	&__phone {
		position: relative;
		padding-left: 35px;
		white-space: nowrap;
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: #000000;
		transition: all 0.15s ease;
		&:hover {
			color: var(--sub-color-text);
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			width: 30px;
			height: 30px;
			background: url("../img/icon-phone.svg") no-repeat center / contain;
		}
	}

	&__list-time {
		position: relative;
		padding-left: 35px;
		&::before {
			content: "";
			position: absolute;
			top: -3px;
			left: 0;
			width: 30px;
			height: 30px;
			background: url("../img/icon-clock.svg") no-repeat center / contain;
		}
	}

	&__item-time {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		white-space: nowrap;
	}

	&__map {
		height: 440px;
		& [class*="-events-pane"],
		& [class*="-ground-pane"],
		& [class*="-copyrights-pane"],
		& [class*="-controls-pane"] {
			filter: grayscale(1);
		}
	}
}
