.popup-general {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;

	z-index: 1000;

	background: rgba(0, 0, 0, 0.5);

	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	&__scroll {
		max-width: 810px;
		width: 100%;
		padding: 30px 15px;
		overflow: auto;
		max-height: 100vh;
	}

	&__body {
		position: relative;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 9px 40px rgba(145, 146, 145, 0.3);
		border-radius: 10px;
	}

	&__group-title {
		position: relative;
		padding: 20px 30px 20px 30px;
	}

	&__title {
		text-align: center;
	}

	&__close {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 60px;
		transform: translate(0, -50%);
		width: 32px;
		height: 32px;
		background: url("../img/icon-close.svg") no-repeat center / contain;
		transition: all 0.3s ease;
		z-index: 3;
	}

	&__wrap {
		// padding: 0px 30px 38px 30px;
	}

	&__form {
	}

	&.modal {
		display: none;
	}

	&.active {
		&.modal {
			display: block;
		}
	}

	&.--step-1 {
		& .popup-general__body {
			box-shadow: 0px 9px 40px rgba(145, 146, 145, 0.3);
			border-radius: 10px;
			background: #eef3f5;
		}
	}
}

.doctors-popup {
	&__slider {
		padding: 30px;
		// margin-right: -29px;
		& .swiper-slide {
			max-width: 330px;
		}

		& .swiper-button-disabled {
			opacity: 0.3;
		}
	}

	&__arrows {
		display: flex;
		margin-bottom: 30px;
		& .slider-arrow-prev {
			margin-right: 20px;
		}
	}

	&__card {
	}

	&__step {
		display: none;
		&.active {
			display: block;
		}
	}
}

.card-doctors-popup {
	padding-right: 30px;

	&__wrap {
		padding: 30px;
		background: #ffffff;
		box-shadow: 0px 9px 40px rgba(145, 146, 145, 0.3);
		border-radius: 10px;
	}

	&__avatar {
		width: 120px;
		height: 120px;
		flex-shrink: 0;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 20px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: #2f2f2f;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 16px;
		line-height: 140%;
		color: #919291;
		margin-bottom: 10px;
	}

	&__price {
		font-weight: 400;
		margin-bottom: 20px;
	}

	&__btn {
	}
}

@media (max-width: 768px) {
	.popup-general {
		&__group-title {
			padding: 16px 56px 16px 24px;
		}

		&__body {
			padding-bottom: 24px;
		}

		&__title {
			text-align: left;
		}

		&__close {
			right: 16px;
		}

		&__wrap {
			padding: 32px 24px;
		}
	}
}

.info-doctors-popup {
	position: relative;
	padding: 15px 30px;
	background: rgba(142, 174, 186, 0.15);

	&__wrap {
		position: relative;
		display: flex;

		z-index: 2;
	}

	&__avatar {
		width: 150px;
		height: 150px;
		flex-shrink: 0;
		border-radius: 50%;
		margin-right: 50px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__group {
	}

	&__name {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 24px;
		color: #2f2f2f;
	}

	&__text {
		margin-bottom: 15px;
	}

	&__price {
		font-weight: 400;
	}

	&__call {
		margin-top: 15px;
	}

	&__call-text {
		margin-bottom: 15px;
	}

	&__phone {
		font-weight: 400;
		font-size: 24px;
		line-height: 130%;
		color: #000000;
	}
}

.order-doctor {
	&__step {
		display: none;
		&.active {
			display: block;
		}
	}
}

.time-doctors {
	padding: 30px;
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__column {
		&:first-child {
			padding-right: 30px;
			border-right: 1px solid #919291;
		}
		&:last-child {
			padding-left: 30px;
		}
	}

	&__calendar {
		& .litepicker {
			width: 100%;
			font-family: "Circe", Arial, sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;

			& .container__months {
				box-shadow: none;
			}

			& .container__days .day-item {
				position: relative;
				padding: 0;
				border-radius: 50% !important;
				font-size: 18px;
				&.is-today {
					background: #8eaeba;
				}

				&.is-start-date.is-end-date {
					border-radius: 50%;
					color: var(--litepicker-is-end-color) !important;
					background-color: var(--litepicker-is-end-color-bg) !important;
				}
				&::before {
					content: "";
					display: block;
					padding-top: calc(50% - 0.65em);
				}

				&::after {
					content: "";
					display: block;
					padding-bottom: calc(50% - 0.65em);
				}
			}

			& .container__months .month-item-header div > .month-item-name {
				text-transform: capitalize;
				font-weight: 400;
				font-size: 24px;
				line-height: 130%;
				color: #2f2f2f;
				margin-right: 0;
			}

			& .container__months .month-item-header div > .month-item-year {
				display: none;
			}

			& .container__months .month-item-weekdays-row > div {
				font-size: 100%;
			}
		}
	}

	&__clock {
	}
}

:root {
	--litepicker-day-width: calc(100% / 7);
	--litepicker-day-color: #919291;

	--litepicker-is-end-color-bg: #8eaeba;
	--litepicker-day-color-hover: #8eaeba;

	--litepicker-is-today-color: #ffffff;
	--litepicker-highlighted-day-color-bg: #fff;
	--litepicker-highlighted-day-color: #2f2f2f;

	--litepicker-button-next-month-color: #28303f;
	--litepicker-button-next-month-color-hover: #8eaeba;

	--litepicker-button-prev-month-color: #28303f;
	--litepicker-button-prev-month-color-hover: #8eaeba;
}

.clock-doctors {
	padding: 10px 0 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	&__top {
	}

	&__list-time {
		max-width: 260px;
		display: none;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 10px;
		row-gap: 20px;
		&.active {
			display: grid;
		}
	}

	&__item-time {
		cursor: pointer;
		padding: 12px 10px 8px 10px;
		font-weight: 400;
		line-height: 130%;
		text-align: center;
		border: 1px solid #919291;
		transition: all 0.15s ease;
		&:hover {
			background: #8eaeba;
			color: #fff;
			border-color: #8eaeba;
		}
	}

	&__tip {
		padding-top: 50px;
		display: none;
		flex-direction: column;
		align-items: center;
		text-align: center;
		&.active {
			display: flex;
		}
	}

	&__text {
		font-weight: 400;
		color: #919291;
	}

	&__link {
		position: relative;
		padding-right: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #8eaeba;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 14px;
			height: 11px;
			background: url("../img/arrow-color.svg") no-repeat center / contain;
		}
	}

	&__bottom {
	}

	&__adress {
		position: relative;
		font-weight: 400;
		padding-left: 40px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			background: url("../img/icon-location.svg") no-repeat center / contain;
		}
	}
}

.result-doctors {
	padding: 25px 30px;
	&__list {
		margin-bottom: 25px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__group {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__checkbox {
		margin-right: 45px;
	}

	&__btn {
		width: 100%;
		max-width: 400px;
	}
}
