<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link">О клинике</a>

			<ul class="main-nav__submenu show-menu">
				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Фотогалерея</a>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Сотрудничество</a>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Лицензии и сертификаты </a>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Правовая информация</a>
				</li>
			</ul>
		</li>

		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Услуги</a>
		</li>

		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Врачи</a>
		</li>

		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Блог</a>
		</li>

		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Вакансии</a>
		</li>

		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Контакты</a>
		</li>
	</ul>
</nav>
