.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(20px);
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 0;
	}

	&__logo {
	}

	&__group {
		display: flex;
	}

	&__btn {
		margin-right: 10px;
		max-width: 160px;
		width: 160px;
	}

	&__callback {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background: #8eaeba;
		border-radius: 100%;
		transition: all 0.15s ease;
		&:hover {
			background-color: #97bac7;
			box-shadow: 0 5px 9px 0 #bde1ef;
			transform: translateY(-4px);
		}
	}

	&__burger {
		display: none;
		margin-right: 20px;
		position: relative;
		width: 24px;
		height: 18px;
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: #919291;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			position: absolute;
			left: 0;
			top: 8px;
			display: block;
			width: 100%;
			height: 2px;
			background: #919291;
		}
	}
}

@media (max-width: 1270px) {
	.header {
		&__wrap {
			padding: 25px 0;
		}

		&__callback {
			width: 45px;
			height: 45px;
		}

		&__logo {
			max-width: 140px;
		}

		&__btn {
			padding: 12px 15px;
		}
	}
}

@media (max-width: 1000px) {
	.header {
		&__wrap {
			padding: 12px 0;
		}
		&__burger {
			display: block;
		}

		&__logo-group {
			display: flex;
			align-items: center;
		}

		&__btn {
			max-width: 140px;
		}
	}
}

@media (max-width: 630px) {
	.header {
		&__callback {
			width: 40px;
			height: 40px;
		}

		&__logo {
			max-width: 90px;
		}

		&__btn {
			font-size: 12px;
			max-width: 90px;
		}
	}
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 100;
	transition: all 0.3s ease-in;

	opacity: 0;
	visibility: hidden;
	transform: translate(-100%, 0);

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}

	&__wrap {
		overflow: auto;
		max-height: 100vh;
	}

	&__top {
		display: flex;
		justify-content: flex-end;
		padding: 15px 40px;
		border-bottom: 2px solid #e1e1e1;
	}

	&__middle {
		padding: 70px 40px;
	}

	&__bottom {
		border-top: 2px solid #e1e1e1;
		padding: 45px 40px 60px 40px;
	}

	&__close {
		& svg {
			vertical-align: middle;
		}
	}

	&__list {
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&.current {
			& a {
				color: var(--sub-color-text);
			}
		}
		& a {
			font-weight: 350;
			font-size: 48px;
			line-height: 140%;
			color: #2f2f2f;
		}
	}

	&__group-link {
		text-align: center;
		margin-bottom: 30px;
	}

	&__link {
		display: block;
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
		color: #000000;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__social {
		display: flex;
		justify-content: center;
	}

	&__social-link {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__item-open-sub {
		position: relative;
		width: 50px;
		height: 50px;
		background: url("../img/arrow-two.svg") no-repeat center / contain;
	}

	&__submenu {
		opacity: 0;
		transform: translate(100%, 0);
		transition: all 0.3s;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;

		&.active {
			opacity: 1;
			transform: translate(0, 0);
		}
	}

	&__submenu-top {
		padding: 33px 40px;
		border-bottom: 2px solid #e1e1e1;
	}

	&__submenu-middle {
		padding: 70px 40px;
	}

	&__back {
		position: relative;
		padding-left: 50px;
		font-size: 24px;
		font-weight: bold;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 45px;
			height: 45px;
			background: url("../img/arrow.svg") no-repeat center / contain;
			transform: translate(0, -54%) rotate(180deg);
		}
	}

	&__submenu-list {
	}

	&__submenu-item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&.current {
			& a {
				color: var(--sub-color-text);
			}
		}
		& a {
			font-weight: 350;
			font-size: 48px;
			line-height: 140%;
			color: #2f2f2f;
		}
	}
}

@media (max-width: 630px) {
	.mob-menu {
		&__top {
			padding: 10px 20px;
		}

		&__close {
			& svg {
				width: 45px;
				height: 45px;
			}
		}

		&__middle {
			padding: 25px 20px;
		}

		&__bottom {
			padding: 25px 20px 30px 20px;
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			& a {
				font-size: 28px;
			}
		}

		&__link {
			font-size: 20px;
		}

		&__social-link {
			& svg {
				width: 45px;
				height: 45px;
			}
		}

		&__item-open-sub {
			width: 30px;
			height: 30px;
		}

		&__submenu-top {
			padding: 22px 20px;
		}
	
		&__submenu-middle {
			padding: 25px 20px;
		}
	
		&__submenu-item {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			& a {
				font-size: 28px;
			}
		}

		&__back {
			padding-left: 30px;
			font-size: 18px;
			&::before {
				width: 25px;
				height: 25px;
			}
		}
	}
}

