.main-nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 45px;

		&:last-child {
			margin-right: 0;
		}

		& > .main-nav__submenu.show-menu {
			// padding-top: 30px;
			top: 100%;
			left: 0;
		}

		&.hover-item {
			padding-right: 20px;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				width: 12px;
				height: 7px;
				background: url("../img/icon-arrow.svg") no-repeat center / contain;
			}
		}
	}

	&__link {
		display: block;
		padding: 20px 0;
		line-height: 140%;
		transition: all 0.15s ease;
		&:hover {
			color: var(--sub-color-text);
		}
		&.current {
			color: var(--sub-color-text);
		}
	}

	&__submenu {
		background: #ffffff;
		box-shadow: 0px 9px 40px rgba(145, 146, 145, 0.3);
		border-radius: 10px;
		padding: 10px 20px;
	}

	&__subitem {
		&:last-child {
			& a {
				border: none;
			}
		}
	}

	&__sublink {
		display: block;
		padding: 10px 0;
		font-size: 18px;
		line-height: 150%;
		color: #2f2f2f;
		border-bottom: 1px solid #e1e1e1;
		&:hover {
			color: #8eaeba;
		}

		&.current {
			color: #8eaeba;
		}
	}

	& .show-menu {
		position: absolute;

		top: 0;
		left: 100%;

		min-width: 250px;

		opacity: 0;
		visibility: hidden;

		transition: all 0.3s ease;
	}

	& .hover-item {
		position: relative;

		&:hover {
			& > .show-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@media (max-width: 1270px) {
	.main-nav {
		&__item {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			font-size: 14px;
		}
	}
}

@media (max-width: 1000px) {
	.main-nav {
		display: none;
	}
}
